bs4==0.0.1
chromadb==0.4.22
gpt4all==2.0.2
httptools==0.6.1
ipykernel==6.28.0
ipywidgets==8.1.1
langchain==0.0.354
langchainhub==0.1.14
llama-cpp-python==0.2.27
llama-index==0.9.26
matplotlib==3.8.2
pypdf==3.17.4
python-dotenv==1.0.0
rank-bm25==0.2.2
sentence-transformers==2.2.2
textract==1.6.5
watchfiles==0.21.0
websockets==12.0